POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=default-db

DATABASE_URL=postgresql://postgres:postgres@db:5432/default-db

BACKEND_PORT=4000
FRONTEND_PORT=3000


FRONTEND_ORIGIN="http://localhost:3000"